<a href="https://colab.research.google.com/github/woodecat/vinny/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1)
print('vi')
print("nny")

1
vi
nny

#variaveis

In [ ]:
#camelcase
saldoBancarioDeHoje = 1000
#snakecase
saldo_bancario_de_ontem = -10000

#Variavel nunca pode comecar com numero
#Uma variavel nunca pode ter espaco, use o underline
#Nao utilize estes simbolos ?/()!
#SEMPRE DEVE COMECAR POR LETRA MINUSCULA

In [ ]:
print(saldo_bancario_de_ontem)
print("Seu saldo bancario de ontem:",saldo_bancario_de_ontem)

-10000
Seu saldo bancario de ontem: -10000

#tipo de numero

In [ ]:
inteiro = 10

type(inteiro)

int

In [ ]:
decimal = 10.5

type(decimal)

float

In [ ]:
#adicao
1 + 1
#subtracao
1 - 1
#divisao
14/7
#multiplicacao
4*9
#exponencial
10**2

100

In [ ]:
#ordem das operacoes
10 + 10 * 10

110

In [ ]:
#como especifica a ordem das operacoes
(2 + 10) * (10 - 5)

60

In [ ]:
numero = 10

numero + numero

numero = 30

numero = numero + numero
print(numero)

60

In [ ]:
#Escreva um programa que imprima seu nome na tela.
print("vinicius")

vinicius

In [ ]:
#Declare duas números e imprima a soma deles.
num1 = 5
num2 = 3
print(num1 + num2)

num1 = 5
num2 = 3
soma = num1 + num2
print("O resultado da soma é: ",soma)

8
O resultado da soma é:  8

In [ ]:
#Declare uma variável com uma mensagem pessoal e imprima-a
th = "oi sou vi"
print(th)

oi sou vi

In [ ]:
#Declare duas variaveis com valores numericos e imprima a soma, subtracao, multiplicacao e divisão delas.
num1 = 5
num2 = 2
soma = num1 + num2
subtracao = num1 - num2
multiplicacao = num1 * num2
divisao = num1 / num2

print("soma: ", soma)
print("subtracao: ", subtracao)
print("multiplicacao: ", multiplicacao)
print("divisao: ", divisao)

soma:  7
subtracao:  3
multiplicacao:  10
divisao:  2.5

#string

In [ ]:
#uma palavra
string1 = "oi!"
#uma frase
string2 = "oi!, como voce esta?"
#uma frase com aspas simples
string3 = 'Benicio ruizao no brawl stars'

In [ ]:
print(string1)
print(string2)
print(string3)

oi!
oi!, como voce esta?
Benicio ruizao no brawl stars

In [ ]:
#como usar "" numa string
string4 = 'eu sou "ruim"'
print(string4)

eu sou "ruim"

In [ ]:
#tres formas para imprimir uma string
string5 = "test"
print(string5)
print("test")
'test'

test
test

'test'

In [ ]:
#utilizar \n para saltar linhas
print("saltando agora \n weeeeeee saltei")

saltando agora
 weeeeeee saltei

In [ ]:
#utilizar \t para dar espacos maiores
print("irei dar um passo \tdei um passo")

irei dar um passo 	dei um passo

In [ ]:
#veja quantos caracteres forma uma frase
frase = "O papaleguas"
len(frase)

12

In [ ]:
#indexaçao de string
nome = "Fulano da Silva Sauro"
#Imprimindo a primeira letra do nome
print([0])

[0]

In [ ]:
#Imprimindo a partir de um caractere
print(nome[7:])
#Imprimindo ate um caractere
print(nome[:7])
#imprimir uma parte especifica
print(nome[10:15])
#imprimir retrocedendo
print(nome[-1])
#tudo menos uma letra
print(nome[:-1])

da Silva Sauro
Fulano
Silva
o
Fulano da Silva Saur

In [ ]:
#imprimir uma frase saltando de 2 em 2
frase = 'ola como vais'
print(frase[::2])

oacm as

In [ ]:
#encontrar caracteres dentro de uma string use o find()
email = "blablablabla@gmail.com.br"
print(email.find("@"))

12

In [ ]:
#utilize count para contar caracteres dentro de uma string
email = "blablablabla@gmail.com.br"
print(email.count("."))

2

In [ ]:
#OPERADORES EM STRINGS

#concatenaçao
nome = "Vinicius"
sobrenome = " Pontes"
print(nome+sobrenome)

#repetiçao
print(nome *3)

Vinicius Pontes
ViniciusViniciusVinicius

In [ ]:
#numero não podem ser conectnados com strings
numero_de_irmaos = 2
#use funcao str() pois ela transforma numeros em strings
print("Voce tem " + str(numero_de_irmaos) + " irmãos")

Voce tem 2 irmãos

#Listas e Matrizes

In [ ]:
#Como criar uma lista

alunos = ["Riquelme", "Benicio", "David", "Vinivius", "Eduardo"]
print(alunos)

['Riquelme', 'Benicio', 'David', 'Vinivius', 'Eduardo']

In [ ]:
#Como exibir um indicie em especifico

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
print("Primeiro alunos desta turma: " + alunos[0])
#os indicies em python comecam do valor 0

Primeiro alunos desta turma: Riquelme

In [ ]:
alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
print("Ultimo alunos desta turma: " + alunos[4])
#os indicies em python comecam do valor 0

In [ ]:
#Como substituir algo na lista

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos[4]="Patolino"
print(alunos)

['Riquelme', 'Benicio', 'David', 'Vinicius', 'Patolino']

In [ ]:
#Como acrescentar itens dentro da lista

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.append("Joaquim")
print(alunos)

['Riquelme', 'Benicio', 'David', 'Vinicius', 'Eduardo', 'Joaquim']

In [ ]:
#Como inserir algo na lista em um lugar especifico

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.insert(2, "Arthur")
print(alunos)

['Riquelme', 'Benicio', 'Arthur', 'David', 'Vinicius', 'Eduardo']

In [ ]:
#Como remover itens de uma lista

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
del alunos[3]
print(alunos)

['Riquelme', 'Benicio', 'David', 'Eduardo']

In [ ]:
#Como remover um por um da lista

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.pop()
print(alunos)

['Riquelme', 'Benicio', 'David', 'Vinicius']

In [ ]:
#Como remover da lista em especifico utilizando o metodo .pop

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.pop()
print(alunos)

In [ ]:
#Como remover um item sem dizer a sua posicão

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.remove("Riquelme")
print(alunos)

['Benicio', 'David', 'Vinicius', 'Eduardo']

In [ ]:
#Como remover um item sem dizer a sua posicão

alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
viajando = "Riquelme"
alunos.remove(viajando)
print(alunos)

['Benicio', 'David', 'Vinicius', 'Eduardo']

In [ ]:
#Como colocar uma lista em ordem alfabetica
alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.sort()
print(alunos)

#Como colocar em ordem inversa
alunos = ["Riquelme", "Benicio", "David", "Vinicius", "Eduardo"]
alunos.sort(reverse=True)
print(alunos)

#O metodo .sort() altera a lista original
print(alunos)

['Benicio', 'David', 'Eduardo', 'Riquelme', 'Vinicius']
['Vinicius', 'Riquelme', 'Eduardo', 'David', 'Benicio']
['Vinicius', 'Riquelme', 'Eduardo', 'David', 'Benicio']

In [ ]:
nada = []
nada.append("eu")
nada.append("nao")
nada.append("oque")
nada.append("escrever")
print(nada)

['eu', 'nao', 'oque', 'escrever']

In [ ]:
lista = [10, 20, 30, 40, 50]
print(lista[0])
print(lista[4])

10
50

In [ ]:
lista = ["Ana", "Caio", "Fabio"]
lista[0] = "Oi"
print(lista)

['Oi', 'Caio', 'Fabio']

In [ ]:
#OPERADORES EM CADEIA"
#AND / Todas as condicoes precisam ser verdadeiras
print( 1 < 2 < 3)

#o mesmo que 1 < 2 < 3
print( 1 < 2 and 2 < 3)

print(1 < 2 and 2 < 3 and 3 > 4)
print("--------------------------------")

#OR / Uma condicao somente precisa ser verdadeira

print( 1 > 2 or 1 < 2)

True
True
False
--------------------------------
True

#CONDICIONAIS IF / ELIF / ELSE

In [ ]:
#IF = SE
#ELIF = SENAO
#ELSE = ENTAO

nota = float(input("Digite sua nota: "))

if nota >= 6:
  print("Aprovado")
elif 4 < nota and nota < 6:
  print("Recuperacao")
else:
 print("Reprovado")

Digite sua nota: 5
Recuperacao

In [ ]:
#Programa de verificacao de idade

idade = float(input("Qual é a sua idade: "))

if idade >= 18:
  print("Voce é maior de idade")
else:
  print("Voce é menor de idade")

Qual é a sua idade: 17
Voce é menor de idade

In [ ]:
#Escreva um programa que pergunte ao usuário um número e, em seguida, imprima se o número é positivo, negativo ou zero

numero = float(input("Digite um numero: "))
if numero > 0:
 print("numero > 0")
elif numero < 0:
 print("numero < 0")
else:
 print("numero = 0")

Digite um numero: inf
numero > 0

#ESTRUTURAS DE REPETIÇÃO

In [ ]:
#FOR


numeros = [1,2,3,4,5,6,7,8,9,10]

for i in numeros:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for num in range(1,11):
  if num %2 == 0:
    print(num)

2
4
6
8
10

In [ ]:
for letra in "Riquelme":
  print(letra)

R
i
q
u
e
l
m
e

In [ ]:
for num in range(2,21):
  e_primo = True

  for num_teste in range(2, num):
    if num % num_teste == 0:
      e_primo = False
      break

  if(e_primo):
    print("É primo: ",num)
  else:
    print("Não é primo: ",num)

É primo:  2
É primo:  3
Não é primo:  4
É primo:  5
Não é primo:  6
É primo:  7
Não é primo:  8
Não é primo:  9
Não é primo:  10
É primo:  11
Não é primo:  12
É primo:  13
Não é primo:  14
Não é primo:  15
Não é primo:  16
É primo:  17
Não é primo:  18
É primo:  19
Não é primo:  20

In [ ]:
#WHILE

n = 10

while(n > 0):
  print(n)
  n = n - 1

10
9
8
7
6
5
4
3
2
1

#OUTROS TIPOS DE LISTAS

In [ ]:
#Lists

#Sao ordenados
#pode ter qualquer tipo de dado
#acessada por indicies a partir de 0
#sao mutaveis, ou seja, podem ser modificador depois de criadas
#sao definidos por []

meu_list = [1,2,3,4,5]

#SETS
#Nao sao ordenadas
#Nao temos valores duplicados
#a lista nao possui indicie
#sao mutaveis, podemos adicionar e remover itens
#sao definidos utilizando {}

meus_sets = {1,2,3,4,5}

#Tuples

#Sao ordenadas e imutaveis(nao pode alterar nada depois de ser criada)
#aceita qualquer tipo de dado
#possui indicie
#sao defindas por ()

mmeu_tuple = (1,2,3,4,5)

#Dictionaries
#Sao de pares chave-valor
#os elementos sao acessados por chaves, nao por indicies
#as chaves devem ter um valor unico, porem o valor pode se repetir


meu_dicionario = {"senha": 123, "senha2":321}

In [ ]:
#SETS
#sao mutaveis e podemos utilizar metodos

sets = set()

sets.add(1)

sets.add(2)

print(sets)

sets.add(1)
#Listas do tipo Set nao é possivel repetir valores/dados

print(sets)

{1, 2}
{1, 2}

In [ ]:
a = True
b = False

#Eu posso (se quiser sim) aplicar valores booleanos a partir de expressoes

c = 1 < 2
d = 7 > 10

print(a,b,c,d)

True False True False

In [ ]:
#TUPLAS
#varios tipos de dados
tupla = ('um', 2, 'tres', True, 4.5, 'cinco ponto sei', False)

print(tupla[2])
print(tupla[2:5])
print("----------------------------------------------------------")

tupla2 = (1,2,2,3,3,3,4,4,4,4)

#metodos que conseguimos utilizar
print(len(tupla2))
print(tupla2.count(4))

#nao consguimos utilizar pois uma tupla é imutavel
#append
#pop
#remove
#index

tres
('tres', True, 4.5)
----------------------------------------------------------
10
4

In [ ]:
#Dictionaries
#Sao de pares chave-valor
#os elementos sao acessados por chaves, nao por indicies
#as chaves devem ter um valor unico, porem o valor pode se repetir

dicionario = {'defenestrar':'tacar o benicio pela janela', 'ps5':'R$3500', 'chave1': 3}

print(dicionario['defenestrar'])

tacar o benicio pela janela

In [ ]:
# {'chave':[valor1, valor2]}

estatisticas = {'cr7':[30,15], 'messi':[2,0], 'caça rato':[90,50]}

print(estatisticas['caça rato'][0])

90

#FUNCOES

In [ ]:
def bem_vindo():
  print("Seja bem vindo ")

bem_vindo()

Seja bem vindo

In [ ]:
def boas_vindas(nomeDeUsuario):
  print("Seja bem-vindo, a aula", nomeDeUsuario)

  boas_vindas("CR7")

def boas_vindas(nomeDeUsuario):
  print("Seja bem-vindo, a aula %s" % (nomeDeUsuario))

  boas_vindas("CR7")

In [ ]:
# Crie uma funçao chamada filme_favorito() que aceita um parametro chamado "titulo"
#e a funcao deve exibir a mensagem "Um dos meus filmes favoritos é ......."

def filme_favorito(titulo):
  print("Um dos meus filmes favoritos é %s" % (titulo))

filme_favorito("chicken little")

Um dos meus filmes favoritos é chicken little

In [ ]:
# a formula da velocidade é V = D/T

def velocidade(distancia, tempo):
  velocidade = distancia // tempo
  print("A sua velocidade é de: %d" % (velocidade))

velocidade(100, 20)

A sua velocidade é de: 5

In [ ]:
def menor(a, b):
  if a<=b:
    return a
  else:
    return b

In [ ]:
a = int(input("Digite o primeiro numero: "))
b = int(input("Digite o segundo numero: "))

print("O menor valor entre %d e %d é %d" % (a, b, menor(a, b)))

Digite o primeiro numero: 1
Digite o segundo numero: 2
O menor valor entre 1 e 2 é 1

#DESAFIOS

In [ ]:
#O que é uma variável em Python?
uma variavel é uma coisa que pode ser armazenada dados que podem ser mudados
#Qual é a diferença entre uma variável e uma constante?
a variavel pode ser mudada quando feita mas a constante não
#Explique o que são funções em Python.
ex: def test_blahblah(dracula):
#Como você declara uma função em Python?
  print("alho", dracula)

  test_blahblah("luz")
#O que é uma lista em Python?
nada = ["ar1", "ar2", "ar3", "ar4"]
#Como você acessa um elemento específico em uma lista?
nada.insert(2. "oxigenio")
print(nada)
#Explique o que são condicionais em Python.
#Quais são os operadores de comparação em Python?
#O que é um loop de repetição? Cite dois tipos de loops em Python.
#Como você solicita entrada de dados do usuário em Python?

#Escreva um programa que solicita ao usuário seu nome e o saúda.
#Crie uma função que recebe dois números como entrada e retorna a soma deles.
#Escreva um programa que verifica se um número é par ou ímpar e imprime uma mensagem correspondente.
#Crie uma lista com os nomes de três amigos. Imprima cada nome separadamente.
#Escreva um programa que calcula a média de três números digitados pelo usuário.
#Crie uma função que recebe uma lista como entrada e retorna o maior número presente nessa lista.
#Escreva um programa que solicita ao usuário um número e verifica se ele é positivo, negativo ou zero.
#Crie uma lista com os números de 1 a 10 e imprima apenas os números pares.
for test in range (1,11):
  if test %2 == 0:
    print(test)
#Escreva um programa que solicita ao usuário um número e verifica se ele é divisível por 3.
#Crie uma função que recebe uma lista de números e retorna outra lista com os números elevados ao quadrado

SyntaxError: invalid syntax (<ipython-input-9-4e6e6bf7fc4c>, line 2)

#MODULO

In [ ]:
#importando um modulo
import math

In [ ]:
#2 elevado a 3
print(math.pow(2,4))

#arredondar valores
print(math.ceil(2.5))#arredondar para cima
print(math.trunc(2.5))#arredonda para baixo

16.0
3
2

In [ ]:
#Como ver todas as funcoes de  um modulo
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [ ]:
print(math.radians(100000000))

1745329.2519943295

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import sys

sys.path.insert(0, '/content/gdrive/MyDrive/Modulos')

In [ ]:
import calculadora

In [ ]:
calculadora.mult(5,5)

25

#ARQUIVOS

In [ ]:
%%writefile texto.txt

O benicio é um aluno de 13 alunos,
Bryan joga Roblox,
Riquelme é Santista,
David já ganhou na mega sena e
Vinicius joga beach tenis

Writing texto.txt

In [ ]:
# Abre um arquivo txt já existente

arquivo = open('texto.txt')

In [ ]:
#Lê todo o arquivo
arquivo.read()

'\nO benicio é um aluno de 13 alunos,\nBryan joga Roblox,\nRiquelme é Santista,\nDavid já ganhou na mega sena e \nVinicius joga beach tenis\n'

In [ ]:
#Lê todo o arquivo novamente
arquivo.read()

''

In [ ]:
#Procurando o inicio do arquivo
arquivo.seek(0)
#Agora a gente le o arquivo do inicio
arquivo.read()

'\nO benicio é um aluno de 13 alunos,\nBryan joga Roblox,\nRiquelme é Santista,\nDavid já ganhou na mega sena e \nVinicius joga beach tenis\n'

In [ ]:
%%writefile herois.txt
Miranha, Morceguinho, Tortuguita,
Aranha-venenosa, Gelinho

Writing herois.txt

In [ ]:
arquivo = open('herois.txt')
#Lendo linha por linha
print(arquivo.readline())
#Lendo segunda linha
print(arquivo.readline())

Miranha, Morceguinho, Tortuguita,

Aranha-venenosa, Gelinho

In [ ]:
#Lendo o arquivo inteiro com for
arquivo = open('herois.txt', 'r')

for x in arquivo:
  print(x)

Miranha, Morceguinho, Tortuguita,

Aranha-venenosa, Gelinho

In [ ]:
#Adiciona um segundo argumento a funcao, w, para escrita
arquivo = open('herois.txt', 'w')

In [ ]:
#escrever no arquivo
arquivo.write('Latão, vencivel')

15

In [ ]:
arquivo = open('herois.txt')
arquivo.seek(0)
arquivo.read()

''

In [ ]:
arquivo = open('herois.txt')

In [ ]:
arquivo = close

NameError: name 'close' is not defined

#AULA 10

In [ ]:
#''' Calculadora Simples: Peça aos alunos para criar uma calculadora que pode realizar operações básicas como adição, subtração, multiplicação e divisão.
def mais(x,y):
  return x + y

def menos(x,y):
  return x - y

def vezes(x,y):
  return x * y

def dividir(x,y):
  return x / y
#Tabuada: Peça aos alunos para escrever um programa que gere a tabuada de um número fornecido pelo usuário.
def multiplication_table(n):

  for i in range(1, n +1):
  print(f"------------\nTable of {i}\n------------")
  for j in range(1, n + 1):
    product = i * j
    print(f"{i} x {j} = {product}")

multiplication_table(7)
#Verificador de Números Primos: Peça aos alunos para criar um programa que verifica se um número fornecido pelo usuário é primo ou não.
for num in range(2,21):
  e_primo = True

  for num_teste in range(2, num):
    if num % num_teste == 0:
      e_primo = False
      break

  if(e_primo):
    print("É primo: ",num)
  else:
    print("Não é primo: ",num)
#Jogo de Adivinhação: Crie um jogo onde o programa escolhe um número aleatório e o jogador tem que adivinhar qual é esse número.
#Dê dicas ao jogador conforme ele faz suas tentativas.
#Lista de Compras: Peça aos alunos para criar um programa que gerencie uma lista de compras, permitindo adicionar, remover e exibir os itens da lista.
#Conversor de Temperatura: Peça aos alunos para criar um programa que converta uma temperatura de Celsius para Fahrenheit e vice-versa.
#Contador de Palavras: Crie um programa que conte quantas palavras há em uma frase fornecida pelo usuário.
frase100 = "ola"
len(frase100)
#Média de Notas: Peça aos alunos para criar um programa que calcula a média de notas de um aluno em diferentes disciplinas.
for num in range(2,21):
  e_primo = True

  for num_teste in range(2, num):
    if num % num_teste == 0:
      e_primo = False
      break

  if(e_primo):
    print("É primo: ",num)
  else:
    print("Não é primo: ",num)
#Sorteio de Números: Crie um programa que sorteie números aleatórios e os armazene em uma lista, depois peça aos alunos para encontrar o maior e o menor número da lista.
import random

def create_number_draw(num_balls, num_drawn):

  ball_list = list(range(1, num_balls + 1))
  drawn_numbers = []

  for _ in range(num_drawn):

    random_index = random.randint(0, len(ball_list) - 1)
    drawn_number = ball_list[random_index]

    ball_list.remove(drawn_number)

    drawn_numbers.append(drawn_number)


#Criador de Listas: Peça aos alunos para criar um programa que permita ao usuário criar e gerenciar listas de itens, como uma lista de tarefas a fazer. '''
lista de afazeres = ["varrer a casa, se esquecer de varrer a casa, tirar o lixo, se esquecer de tirar o lixo, fazer tudo antes da mãe chegar"]

print(lista de afazeres)

#LIÇÃO

In [ ]:
def validar_senha(senha):
  caracteres_especiais = '!@#$%¨&*'

  if len(senha) > 8 and any(char in caracteres_especiais for char in senha):
    return True
  else:
    return False

senha1 = input("Digite sua senha: ")

validar_senha(senha1)

Digite sua senha: hhhhhhhhh!

True